body{
  font-family: 'Gudea', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #e7e6d6;
}

.wrapper{
  width: 100%;
  height: 100vh;
  margin-left:auto;
  margin-right:auto;
  background-color: #EAEAEA;
}

.nav{
  padding: 0px 90px 0px 90px;
  background-color: #EAEAEA;
  text-align: center;
}

.nav-link{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  float: right;
}

.nav img{
  display: inline-block;
  padding: 0px 0px 1px 0px;
  float: left;
}

.nav-link a{
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 50px 5px 50px;
  color: #000000;
}

.main{
  width: 98%;
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
  clear: both;
}

.informations{
  padding: 50px;
  height: 75vh;
  background-image: url("../img/100.jpg");
  background-size: cover;
  background-position: center;
}

.portfolio{
  background-color: #EAEAEA;
  padding: 50px;
}

.team{
  background-color: #241F3E;
  text-align: center;
}

.team img{
  padding: 50px;
}

.contacts{
  background-color: #E57C4E;
  padding: 50px;
  margin-bottom: 10px;
}
